@using CRM;
@model Customer;

@{
    ViewBag.Title = "Customer update Page";
}
 <link rel="stylesheet" href="~/css/Style.css" />


<div class="data">
<h1>Update Customer</h1>
<form action="/Customer/Update" method="post">
        <center>
    <table>
                <tr>
                    <td>Customer id:</td>
                    <td><input type="text" name="id" placeholder="Customer id"value="@Model.CustomerId" /></td>
                </tr>

                <tr>
                    <td>Login id:</td>
                    <td><input type="text" name="loginid" placeholder="Customer loginid id"value="@Model.LoginId" /></td>
                </tr>

                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" placeholder="Password"value="@Model.Password" /></td>
                </tr>

                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name" placeholder="Customer Name"value="@Model.CustomerName" /></td>
                </tr>

                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="email" placeholder="Customer Email"value="@Model.Email" /></td>
                </tr>

                <tr>
                    <td>Contact number:</td>
                    <td><input type="text" name="contact" placeholder="Contact number:"value="@Model.ContactNo" /></td>
                </tr>

                <tr>
                    <td>Location:</td>
                    <td><input type="text" name="location" placeholder="Location"value="@Model.Location" /></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" class="submitButton" name="btn" value=" update "/></td>
                </tr>

    </table>
 </center>
    </form>
</div>
